{% extends 'webapp/base.html' %}

{% block content %}
    <body>

        <div class="container bg-light shadow-md p-5 form-layout"></div>

        <h3>Create your Account</h3>

        <h5>Leave the boring stuff to us. Join us right now!</h5>
        
        <hr>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{form.as_p}}

            <br>

            <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Create account </button>

        </form>
        <br>
    

        <div class='text-center'>

            <p> I already have an account, </p> <a href="{% url '' %}">Log me In!</a>

        </div>

        <br>
    </body>

{% endblock %}